<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>

    <arg name="camera_type" default="$(env CAMERA_TYPE)" doc="Camera type"/>
    <arg name="camera_type_front" default="hk_camera" doc="Camera type"/>
    <arg name="camera_type_back" default="galaxy_camera" doc="Camera type"/>
    <arg name="camera_type_left" default="hk_camera" doc="Camera type"/>
    <arg name="camera_type_right" default="hk_camera" doc="Camera type"/>

    <arg name="camera_name" default="camera"/>
    <arg name="camera_front_name" default="camera_front"/>
    <arg name="camera_back_name" default="camera_back"/>
    <arg name="camera_left_name" default="camera_left"/>
    <arg name="camera_right_name" default="camera_right"/>

    <rosparam file="$(find armor_processor)/config/processor_config.yaml" command="load"/>

    <!--前相机-->
    <node pkg="nodelet" type="nodelet" name="Processor_front"
          args="load rm_digtialimg_proc/Processor vision_nodelet_front" respawn="true">
        <rosparam file="$(find rm_digtialimg_proc)/config/weibull_coefficient.yaml" command="load"/>
        <rosparam file="$(find rm_digtialimg_proc)/config/make_dataset.yaml" command="load"/>
        <rosparam file="$(find rm_digtialimg_proc)/config/armor_coefficient.yaml" command="load"/>
        <rosparam file="$(find rm_digtialimg_proc)/config/preprocess_coefficient.yaml" command="load"/>
        <param name="camera_info_url" value="file:///home/dynamicx/.ros/camera_info/hk_camera.yaml"/>
        <remap from="/processor/result_msg" to="/processor/result_msg_front"/>
        <remap from="/debug_image" to="/debug_image_front"/>
        <remap from="/galaxy_camera/image_raw" to="/$(arg camera_front_name)/image_raw"/>
    </node>

    <node pkg="rm_pose_solver" type="pose_solver_node" name="pose_solver_node_front" output="screen" respawn="true">
        <rosparam file="$(find rm_pose_solver)/config/pose_solver_config.yaml" command="load"/>
        <remap from="/processor/result_msg" to="/processor/result_msg_front"/>
        <remap from="/galaxy_camera/camera_info" to="/$(arg camera_front_name)/camera_info"/>
        <remap from="/detection" to="/detection"/>
    </node>

    <!--后相机-->
<!--    <node pkg="nodelet" type="nodelet" name="Processor_back"-->
<!--          args="load rm_digtialimg_proc/Processor vision_nodelet_back" respawn="true">-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/weibull_coefficient.yaml" command="load"/>-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/make_dataset.yaml" command="load"/>-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/armor_coefficient.yaml" command="load"/>-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/preprocess_coefficient.yaml" command="load"/>-->
<!--        <param name="rotate" type="bool" value="true"/>-->
<!--        <remap from="/processor/result_msg" to="/processor/result_msg_back"/>-->
<!--        <remap from="debug_image" to="debug_image_back"/>-->
<!--        <remap from="/galaxy_camera/image_raw" to="/$(arg camera_type_back)/$(arg camera_back_name)/image_raw"/>-->
<!--    </node>-->

<!--    <node pkg="rm_pose_solver" type="pose_solver_node" name="pose_solver_node_back" output="screen" respawn="true">-->
<!--        <rosparam file="$(find rm_pose_solver)/config/pose_solver_config.yaml" command="load"/>-->
<!--        <remap from="/processor/result_msg" to="/processor/result_msg_back"/>-->
<!--        <remap from="/galaxy_camera/camera_info" to="/$(arg camera_type_back)/$(arg camera_back_name)/camera_info"/>-->
<!--        <remap from="/detection" to="/detection_back"/>-->
<!--    </node>-->

<!--    &lt;!&ndash;左相机&ndash;&gt;-->
<!--    <node pkg="nodelet" type="nodelet" name="Processor_left"-->
<!--          args="load rm_digtialimg_proc/Processor vision_nodelet_left" respawn="true">-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/weibull_coefficient.yaml" command="load"/>-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/make_dataset.yaml" command="load"/>-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/armor_coefficient.yaml" command="load"/>-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/preprocess_coefficient.yaml" command="load"/>-->
<!--        <param name="rotate" type="bool" value="true"/>-->
<!--        <remap from="/processor/result_msg" to="/processor/result_msg_left"/>-->
<!--        <remap from="debug_image" to="debug_image_left"/>-->
<!--        <remap from="/galaxy_camera/image_raw" to="/$(arg camera_type_left)/$(arg camera_left_name)/image_raw"/>-->
<!--    </node>-->

<!--    <node pkg="rm_pose_solver" type="pose_solver_node" name="pose_solver_node_left" output="screen" respawn="true">-->
<!--        <rosparam file="$(find rm_pose_solver)/config/pose_solver_config.yaml" command="load"/>-->
<!--        <remap from="/processor/result_msg" to="/processor/result_msg_left"/>-->
<!--        <remap from="/galaxy_camera/camera_info" to="/$(arg camera_type_left)/$(arg camera_left_name)/camera_info"/>-->
<!--        <remap from="/detection" to="/detection_left"/>-->
<!--    </node>-->

<!--    &lt;!&ndash;右相机&ndash;&gt;-->
<!--    <node pkg="nodelet" type="nodelet" name="Processor_right"-->
<!--          args="load rm_digtialimg_proc/Processor vision_nodelet_right" respawn="true">-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/weibull_coefficient.yaml" command="load"/>-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/make_dataset.yaml" command="load"/>-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/armor_coefficient.yaml" command="load"/>-->
<!--        <rosparam file="$(find rm_digtialimg_proc)/config/preprocess_coefficient.yaml" command="load"/>-->
<!--        <param name="rotate" type="bool" value="true"/>-->
<!--        <remap from="/processor/result_msg" to="/processor/result_msg_right"/>-->
<!--        <remap from="debug_image" to="debug_image_right"/>-->
<!--        <remap from="/galaxy_camera/image_raw" to="/$(arg camera_type_right)/$(arg camera_right_name)/image_raw"/>-->
<!--    </node>-->

<!--    <node pkg="rm_pose_solver" type="pose_solver_node" name="pose_solver_node_right" output="screen" respawn="true">-->
<!--        <rosparam file="$(find rm_pose_solver)/config/pose_solver_config.yaml" command="load"/>-->
<!--        <remap from="/processor/result_msg" to="/processor/result_msg_right"/>-->
<!--        <remap from="/galaxy_camera/camera_info" to="/$(arg camera_type_right)/$(arg camera_right_name)/camera_info"/>-->
<!--        <remap from="/detection" to="/detection_right"/>-->
<!--    </node>-->

    <node name="armor_processor" pkg="armor_processor" type="armor_processor" respawn="true"/>
</launch>
